html {
    font-size: 10px;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.hidden {
    font-size: 0;
}

/* ------------------header----------------- */
header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 96px;
    max-width: 1920px;
    margin: 0 auto;
}

header h1 {
    position: absolute;
    left: 0;
    margin-left: 10px;
}

header .header_menu {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

header ul{
    display: flex;
    justify-content: space-between;
}

/* ------------------main----------------- */

/* Main content */
.main_content {
    max-width: 1920px;
    margin: 0 auto;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}

.scroll_box_wrap {
    height: 350px;
    overflow: hidden;
}

.scroll_box {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.scroll_box p {
    margin: 17px 0;
}

.scroll_content {  
    flex: auto;
    margin-left: 20px;
}

.scroll_pause_box {
    position: absolute;
    width: 100px;
    height: 34px;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll_pause_box button {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

/* Brand */
.brand {
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}

.brand fieldset {
    width: 700px;
    margin: 150px auto;
    position: relative;
    display: flex;
    align-items: center;
}

.brand fieldset > legend {
    margin: 50px 0;
}

.brand > fieldset > input {
    width: 100%;
    height: 75px;
}

.brand > fieldset > button {
    position: absolute;
    width: 31px;
    height: 31px;
    right: 40px;
}

.brand_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand_show_plus {
    position: absolute;
    right: 0px;
}

.slide_brand {
    display: flex;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px 0;
}

.slide_brand div {
    height: 400px;
}

.item2 {
    transform: scale(1.5);
    z-index: 1;
}

.slide_brand div p {
    margin: 0;
}

.slide_brand img {
    height: 90%;
    object-fit: cover;
}

/* Store */

.store {
    max-width: 1920px;
    margin: 0 auto;
}

.store > article > div {
    display: flex;
    align-items: center;
    height: 580px;
    padding: 70px 0;
}

.store > article > div > img {
    flex: 1;
    height: 100%;
    object-fit: cover;
}

.store > article > div > div {
    flex: 1;
}

/* Media */

.media_subtitle {
    display: flex;
    justify-content: center;
}

.slide_media_wrap {
    max-width: 1920px;
    overflow: hidden;
    margin: 0 auto;
}

.slide_media {
    display: flex;
    justify-content: space-around;
}

.slide_media > article {
    margin: 0 25px;
}

.media_show_more {
    display: block;
    margin: 0 auto;
}

/* sns */
.sns {
    max-width: 1920px;
    margin: 0 auto;
}

.sns > div {
    display: flex;
    justify-content: center;
}

.sns > div > img {
    height: 344px;
    width: 344px;
    object-fit: cover;
    margin: 0 12px;
}

.sns > button {
    display: block;
    margin: 0 auto;
}

/* Notice */

.notice {
    width: 1080px;
    height: 236px;
    margin: 0 auto;
    display: flex;
}

.notice_title {
    width: 270px;
    position: relative;
}

.notice_show_plus {
    position: absolute;
    bottom: 0;
}

.notice_board {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-around;
}

.notice_board span {
    float: right;
}