
.wrap_bg {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

/* ----------------header------------- */

header {
    background-color: rgba(0, 0, 0, 0);
}

.wrap_header {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: solid gray 1px;
}

.wrap_header_show {
    background-color: white;
    border: none;
    animation: show_header 0.5s;
    animation-iteration-count: 1;
}

.wrap_header_hide {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: solid gray 1px;
    animation: hide_header 0.5s;
    animation-iteration-count: 1;
}

.wrap_sNav_show {
    background-color: white;
    animation: show_snav 0.5s;
    animation-iteration-count: 1;
}

.wrap_sNav_hide {
    background-color: rgba(255, 255, 255, 0);
    animation: hide_snav 0.5s;
    animation-iteration-count: 1;
}

@keyframes show_header {
    0% {background-color: rgba(255, 255, 255, 0);}
    100% {background-color: rgba(255, 255, 255, 1);}
}

@keyframes hide_header {
    0% {background-color: rgba(255, 255, 255, 1);}
    100% {background-color: rgba(255, 255, 255, 0);} 
}

@keyframes show_snav {
    0% {
        opacity: 0;
        height: 92px;
    }
    100% {
        opacity: 1;
        height: 400px;
    } 
}

@keyframes hide_snav {
    0% {
        background-color: rgba(255, 255, 255, 1);
        height: 400px;
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
        height: 92px;
    } 
}

/* ----------------main------------- */

.bg_box {
    background-color: rgb(245, 245, 245);
}

.scroll_pause_box {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}
/* brand */

.brand fieldset input {
    border: none;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.item1, .item3{
    filter: grayscale(100%);
}

/* store */
.store > article > div {
    background-clip: content-box;
    background-color: #333;
}

/* Media */

.media_gray {
    filter: grayscale(100%);
}

/* sns */

/* notice */
.notice_board > p {
    border-bottom: solid gray 1px;
}
/* footer */
footer {
    background-color: #333;
}