/* font and btn design */

/* --------------------header-------------------- */

.main_nav > div {
    font-size: 20px;
    text-align: center;
}

.main_nav > div > li {
    font-weight: bold;
}

.s_nav > li{
    font-size: 15px;
    margin: 30px 0;
    color:gray;
}

.s_nav > li:hover{
    color: crimson;
}
/* --------------------main-------------------- */

/* Main content */
.scroll_title {
    font-size: 35px;
    font-weight: bold;
}

.scroll_subtitle {
    font-size: 20px;
}

.scroll_box p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: bold;
}

.scroll_pause_box {
    font-size: 15px;
    word-spacing: 5px;
    color: white;
}

/* Brand */
.brand fieldset legend {
    font-size: 35px;
    text-align: center;
}

.brand fieldset input {
    font-size: 25px;
    text-align: center;
}

.brand fieldset input:focus::placeholder {
    color: transparent;
}

.brand_new {
    margin-right: 40px;
}

.brand_new, .brand_best {
    font-size: 45px;
    font-weight: lighter;
    cursor: pointer;
}

.slide_brand div p{
    font-size: 30px;
    text-align: center;
}

/* Store */
/* Media */
.media > h2 {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
}

/* SNS */
.sns h2 {
    text-align: center;
}

/* Notice */
.notice_board {
    font-size: 15px;
}
