/* font */
/* --------------------header-------------------- */
.main_nav > div {
    font-size: 20px;
    text-align: center;
}

.main_nav > div > li {
    font-weight: bold;
}

.header_menu > ul > li{
    font-size: 15px;
    margin: 0 10px;
}

.s_nav > li{
    font-size: 15px;
    margin: 30px 0;
    color:gray;
}

.s_nav > li:hover{
    color: crimson;
}

.header_icon {
    height: 25px;
}
/* --------------------main-------------------- */

/* Main content */
.scroll_title {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0;
}

.scroll_subtitle {
    font-size: 20px;
}

.scroll_box p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: bold;
}

.scroll_pause_box {
    font-size: 15px;
    word-spacing: 5px;
    color: white;
}

/* Brand */
.brand fieldset legend {
    font-size: 35px;
    text-align: center;
}

.brand fieldset input {
    font-size: 25px;
    text-align: center;
}

.brand fieldset input:focus::placeholder {
    color: transparent;
}

.brand_new {
    margin-right: 40px;
}

.brand_new, .brand_best {
    font-size: 45px;
    font-weight: lighter;
    cursor: pointer;
}

.slide_brand div p{
    font-size: 30px;
    text-align: center;
}

/* Store */
.store > article > div {
    color: white;
}

.store > article > div h3 {
    font-size: 40px;
    margin: 30px 0;
    margin-left: 100px;
}

.store > article > div p {
    font-size: 20px;
    margin: 10px 0;
    margin-left: 100px;
}

.store > article > div span {
    margin-left: 30px;
    font-weight: lighter;
}

/* Media */
.media > h2 {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
}

.media_subtitle > h3{
    font-size: 20px;
    font-weight: lighter;
    margin: 0 10px;
}

/* SNS */
.sns h2 {
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    margin: 10px 0;
}

/* Notice */
.notice h2 {
    font-size: 40px;
    font-weight: lighter;
}

.notice_board {
    font-size: 15px;
}

/* -----------------footer---------------- */
.fheader > p, .extend_fheader > h2 {
    color: white;
    font-size: 15px;
}

.footer_content > p {
    font-size: 18px;
    color: #999;
}

.footer_content span {
    color: white;
    font-size: 23px;
    margin-right: 20px;
}

.footer_content > p > :last-child {
    margin-left: 20px;
}

.footer_content > :nth-child(2) {
    word-spacing: 30px;
    margin: 30px 0;
}

.footer_content > :nth-child(n + 3) {
    font-size: 15px;
    color: rgb(100, 100, 100);
}

.footer_content > :last-child {
    margin-top: 30px;
}

.wrap_footer > nav h3 {
    color: white;
    font-size: 20px;
    margin: 25px 0;
}

.wrap_footer > nav li {
    color: #999;
    font-size: 15px;
    margin: 10px 0;
    margin-right: 25px;
}

.wrap_footer > nav li:hover {
    color: white;
    cursor: pointer;
}
/* --------------------------btn------------------------------ */

.scroll_content > button {
    margin: 30px 0;
    margin-right: 20px;
    border: solid black 1px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
}

.scroll_pause_btn {
    background-image: url(../media/icon/pause.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
}

button[class*="plus"]::after {
    content: "";
    background-image: url('../media/icon/plus.png');
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    display: inline-block;
    opacity: 0.7;
}

button[class*="more"] {
    font-size: 18px;
    text-decoration: underline;
}

.brand > fieldset > button {
    background-image: url(../media/icon/find.png);
    background-size: cover;
}

.totop {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 50px;
}